<div id="title">
<div class="container">
  <h1 class="display-4">About Us</h1>
  <div id="title2">
          <div class="col-sm-12" align="middle">
            <img src="/assets/HGHC1.jpg" class="image-fluid"  alt="Heartland Global Health">
        </div>  
  <p>
    A group of Iowa colleges and universities that have come together around a
    common interest of international health.
  </p>
  <p>
    The consortium was established in 2007 with the underlying assumption that
    global learning experiences for students and faculty benefit Iowa and our
    country in the areas of economics, civic engagement and improvement of health
    outcomes. Members of the consortium agree that to accomplish this in the most
    efficient manner requires collaboration and sharing of resources. To
    accomplish these goals, the consortium focuses on partnerships with other
    countries, collaborative research, and educational programming.
  </p>
  <p>
    The mission of the consortium is to establish and expand multidisciplinary
    educational, research, and service opportunity to inspire and equip students
    to become leaders in global public health.
  </p>
  <p>
    Members of the Consortium:
  </p>
  <p>
    <a href="https://www.central.edu/">Central College</a><br/>
    <a href="https://www.dmu.edu/">Des Moines University</a><br/>
    <a href="http://www.drake.edu">Drake University</a><br/>
    <a href="https://www.grinnell.edu/">Grinnell College</a><br/>
    <a href="https://www.iastate.edu/">Iowa State University</a><br/>
    <a href="http://www.mchs.edu">Mercy College of Health Sciences</a><br/>
    <a href="http://simpson.edu/">Simpson College</a><br/>
    <a href="https://uiowa.edu/">University of Iowa</a><br/>
    <a href="https://uni.edu/">University of Northern Iowa</a><br/>
  </p>
  </div>
</div>
</div>