<h1 class="display-4">The Heartland Global Health Consortium</h1>

<div class="container">
  <div class="jumbotron fluid-jumbotron">
    <div class="container">
      <%= image_tag "head.jpg" %>
      <h1 class="display-4">8th Annual Global Health Conference</h1>
      <h1><small class="text-muted">The Social Determinants of Health</small></h1>
      <p>Wednesday, October 5, 2016</p>
      <p>9 a.m. - 3 p.m.</p>
      <p>Drake University, Olmsted Center</p>
      <a class="btn btn-primary" href='#' role="button">Register</a>
      <%= link_to "Learn more", info_path, class: "btn btn-secondary", role: "button" %>
    </div>
  </div>
</div>
