h1.display-4 The Heartland Global Health Consortium

.container
  .jumbotron.fluid-jumbotron
    .container
      = image_tag "head.jpg"
      h1.display-4 8th Annual Global Health Conference
      h1: small.text-muted The Social Determinants of Health
      p Wednesday, October 5, 2016
      p 9 a.m. - 3 p.m.
      p Drake University, Olmsted Center
      a.btn.btn-primary   href='#' role="button" Register
      a.btn.btn-secondary href='#' role="button" Learn more
