<div class="home row">
    <div class="main-panel">
      <div class="container main-text">
        <div class="row-fluid">
          <h1>&nbsp</h1>
          <h1 class="conference-name">The Heartland Global Health Consortium</h1>
          <h1 class="other-text">8th Annual Global Health Conference</h1>
          <p class="other-text">Wednesday, October 5, 2016</p>
          <p class="other-text">9 a.m. - 3 p.m.</p>
          <p class="other-text">Drake University, Olmsted Center</p>
          <div class="container">
          <div class="row margin-50px justify-content-center">
            <a class="btn btn-primary margin-10px" href='#' role="button">Register</a>
            <%= link_to "Learn more", info_path, class: "btn btn-secondary margin-10px", role: "button" %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="youtube">
    <iframe src="https://www.youtube.com/embed/PRyj6htVvUI">Watch our videos</iframe>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15148.405963689303!2d-92.72635815635941!3d41.75389379433188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca296c95104cb957!2sGrinnell+College!5e0!3m2!1sen!2sus!4v1509634731527" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    
</div>
