<% provide(:title, "Members") %>

<div class="my-3">
  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], placeholder: "Find Researchers", class: "form-control" %>
      <span id="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>

<% @users.each do |user| %>
  <div class="card">
    <div class="card-body">
     
    </div>
  </div>
<% end %>
