- provide(:title, "Members")

.my-3
  = form_tag(members_path, :method => "get", id: "search-form") do
    .input-group
      = text_field_tag :query, params[:query], placeholder: "Find Researchers", class: "form-control"
      span.input-group-btn
        = submit_tag "Search", class: "btn btn-primary"

- @users.each do |user|
  .card
    .card-body
      h4.card-title = user.name
      h6.card-subtitle.mb-2.text-muted = user.email
      p.card-text = user.school
      p.card-text = user.research
      = link_to "#{user.name}'s page", user, class: "card-link"
