- provide(:title, "Sign up")
h1.display-4 Sign up

.container
  = form_for(@user, url: signup_path) do |f|
    = render 'shared/error_messages'

    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"

    .form-group
      = f.label :email
      = f.email_field :email, class: "form-control"

    .form-group
      = f.label :school, "Your Academic Institution"
      = f.text_field :school, class: "form-control"

    .form-group
      = f.label :research, "Your Research Interests"
      = f.text_field :research, class: "form-control"

    .form-group
      = f.label :password
      = f.password_field :password, class: "form-control"

    .form-group
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: "form-control"

    = f.submit "Submit", class: "btn btn-primary"

