<!DOCTYPE html>
<head>
</head>
<html lang="en">
<div class="container">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <strong><h2><%= "New Consortium" %></h2></strong><br/>
  <%= render "form" %>
  </div>
  <div class="col-md-2"></div>
</div>