<div class="container">
  <% for post in @posts %>
    <div class="card">
      <div class="m-1">
        <span class="text-muted"><%= post.created_at.strftime("%D") %></span>
        <%= post.content.html_safe %>
      </div>
    </div>
  <% end %>
</div>
