// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title {
    padding-top: 20px;
    width: 970px;
    margin: 0 auto;
}

#title2 {
    padding-top: 2px;
    margin: 0 auto;
}

